@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&f[]=quicksand@600,700,400,300,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-bold.otf") format("opentype"); /* Replace with your font filename */
}


.satoshi {
  font-family: "Satoshi", sans-serif;
}

.Quicksand {
  font-family: "Quicksand", sans-serif;
}

.Satoshi {
  font-family: 'Satoshi', sans-serif;
}

.quicksand {  
  font-family: 'Quicksand', sans-serif;
}

.clash {
  font-family: 'Clash Display', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ended {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.wallet-adapter-modal-wrapper {
  font-family: "Quicksand", sans-serif !important;
}

.wallet-adapter-modal-title {
  line-height: normal !important;
}